.img-slider {
    position: relative;
}


.img-slider img {
    width: 100%;
    height: 300px;
}

.img-slider .littel-slide {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    height: 30px;
    display: flex;
    align-items: center;
}
.img-slider .littel-slide i {
    margin: 0 8px;
}


.pointer0 {
    color: yellow;
}

.pointer1 {
    color: blue;
}


.pointer2 {
    color: white;
}

.pointer3 {
    color: red;
}


.pointer4 {
    color: green;
}



